body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f3f3;
}

/* layout geral */

.container {
    display: flex;
    min-height: 100vh;
}

/* lado esquerdo */

.left {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* form candidato + empresa */

#formCandidato,
#formEmpresa {
    width: 450px;
}

#formCandidato h3,
#formEmpresa h3 {
    color: #e53935;
    margin-bottom: 20px;
}

/* campos */

#formCandidato div,
#formEmpresa div {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 13px;
    color: #444;
}

input,
textarea,
select {
    border: none;
    border-bottom: 2px solid #bbb;
    background: transparent;
    padding: 6px;
    outline: none;
    font-size: 14px;
}

input:focus,
textarea:focus,
select:focus {
    border-bottom: 2px solid #e53935;
}

/* botão */

button {
    margin-top: 10px;
    background: #e53935;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #c62828;
}

/* lado direito */

.right {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* área visual */

.illustration {
    width: 70%;
    height: 60%;
    background: linear-gradient(
        120deg,
        #f5f5f5,
        #dddddd
    );
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.illustration img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.containerLista {
    max-width: 1000px;
    margin: 60px auto;
    padding: 30px;
}

.containerLista h2 {
    color: #e53935;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
}

/* área dos cards */

#listaCandidatos, #listaVagas {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* card */

.undCandidato {

    background: white;

    border-radius: 18px;

    padding: 20px 25px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.08);

    border-left: 8px solid #e53935;

    transition: 0.25s;

}

/* hover moderno */

.undCandidato:hover {

    transform: translateY(-3px);

    box-shadow: 0 8px 18px rgba(0,0,0,0.12);

}

/* título */

.undCandidato h4 {

    margin: 0 0 10px 0;

    color: #e53935;

    font-size: 18px;

}

/* textos */

.undCandidato p {

    margin: 4px 0;

    font-size: 14px;

    color: #555;

}

/* layout interno opcional */

.undCandidato p span {

    font-weight: bold;

    color: #222;

}

.areaCPFCandidato, .areaEmailCandidato, .areaCEPCandidato {
    color:#c62828;
}